body{font-family:Helvetica,Arial,sans-serif;color:black;
width:1090px;background-attachment:scroll;margin:0px auto;
background-color:SILVER;background-repeat:no-repeat;}
div#formulaire{
	color:black; font-size:20px;background-color:WHITE;
	width:60%; height: 60%;margin:auto auto; margin-top:8%;
}
h1#signup{
	text-align:center;
}

label#usr_name{
	margin-left:2%; font-size:25px; font-weight:bold;
}

label#pswrd{
	margin-left:2%; font-size:25px; font-weight:bold;
}

input#input_txt{
	margin-left:2%;
}

input#input_pswrd{
	margin-left:2%;
}

input#connexion{
	margin-left:40%; width:30%;
}